# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Autotools output
/Makefile.in
/aclocal.m4
/autom4te.cache/
/bin/Makefile.in
/compile
/config.guess
/config.h.in~
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/man/Makefile.in
/missing
/test-driver
/ylwrap
/config.h.in
/INSTALL
