#
# Sample nfdump config file

[nfdump]
# format definitions

# pre-defined format, hard coded into nfdump
# uncomment to redefine according your needs

# fmt.line = "%ts %td %pr %sap -> %dap %pkt %byt %fl"
# fmt.gline = "%ts %td %pr %gsap -> %gdap %pkt %byt %fl"
# fmt.long = "%ts %td %pr %sap -> %dap %flg %tos %pkt %byt %fl"
# fmt.glong = "%ts %td %pr %gsap -> %gdap %flg %tos %pkt %byt %fl"
# fmt.extended = "%ts %td %pr %sap -> %dap %flg %tos %pkt %byt %pps %bps %bpp %fl"
# fmt.biline = "%ts %td %pr %sap <-> %dap %opkt %ipkt %obyt %ibyt %fl"
# fmt.bilong = "%ts %td %pr %sap <-> %dap %flg %tos %opkt %ipkt %obyt %ibyt %fl"

# if compiled for nsel/nel support
# fmt.nsel = "%tevt %evt %xevt %pr %sap -> %dap %xsap -> %xdap %ibyt %obyt"
# fmt.nel = "%tevt %nevt %pr %sap -> %dap %nsap -> %ndap"

# define any new format
# fmt.newformat = "%ts ...."
fmt.geolong = "%ts %td %pr %sc %sap -> %dc %dap %flg %pkt %byt %fl"
fmt.pfline = "fmt:%ts %pfact %pfrea  %pfdir on %pfifn %pfrule  %pr %sap -> %dap %pkt %byt"

# geodb
# if you use maxmind DB for geo location
# geodb.path = "/var/db/mmdb.nf"

[nfcapd]
# define multiple netflow exporters
# the identification string follow the toke 'exporter'
# 
# exporter.<ident> = ["ip", "flowdir"]
# 
# exporter.upstream = ["192.168.1.1", "/var/nflow/upstream"]
# exporter.peer = ["192.168.1.10", "/var/nflow/peer"]
